@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    if (User.IsInRole("Admin"))
    {

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="StatBars" asp-action="Index">StatBars</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Experiences" asp-action="Index">Experiences</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Mails" asp-action="Index">Mails</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Projects" asp-action="Index">Projects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="FAQs" asp-action="Index">FAQs</a>
        </li>
    }else
    {

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="FAQs" asp-action="Index">FAQs</a>
        </li>
    }
}
