
@{
    if (User.IsInRole("Admin"))
    {
        <ul class="footer-nav border-end border-start border-1 border-secondary-darker">
            <li class="footer-nav-item">
                <a class="footer-nav-link" asp-area="" asp-controller="StatBars" asp-action="Index">StatBars Database</a>
            </li>
            <li class="footer-nav-item">
                <a class="footer-nav-link" asp-area="" asp-controller="Experiences" asp-action="Index">Experiences Database</a>
            </li>
        </ul>
        <ul class="footer-nav border-end border-start border-1 border-secondary-darker">
            <li class="footer-nav-item">
                <a class="footer-nav-link" asp-area="" asp-controller="Mails" asp-action="Index">Mail Database</a>
            </li>
            <li class="footer-nav-item">
                <a class="footer-nav-link" asp-area="" asp-controller="FAQs" asp-action="Index">FAQs Database</a>
            </li>
        </ul>
        <ul class="footer-nav border-end border-start border-1 border-secondary-darker">
            <li class="footer-nav-item">
                <a class="footer-nav-link" asp-area="" asp-controller="Projects" asp-action="Index">Projects Database</a>
            </li>
            <li class="footer-nav-item">
                <a class="footer-nav-link" asp-area="" asp-controller="ProjectTags" asp-action="Index">Projects To Tag Database</a>
            </li>
        </ul>
        <ul class="footer-nav border-end border-start border-1 border-secondary-darker">
            <li class="footer-nav-item">
                <a class="footer-nav-link" asp-area="" asp-controller="Tags" asp-action="Index">Tags Database</a>
            </li>
            <li class="footer-nav-item">
                <a class="footer-nav-link" asp-area="" asp-controller="ProjectTags" asp-action="Index">Tags Catagory Database</a>
            </li>
        </ul>
    }

}