html {
  font-size: 14px;
}
:root {
    --MyAccent: #00adb5;
    --MyAccent-Tame: #3798A3;
    --primary-background: #1A1A1B;
    --secondary-background: #333F44;
    --secondary-border-darker: #404040;
    --globalRadius: 10px;
    --textColor: rgb(137, 156, 168);
    --headingColor: rgb(187, 206, 218);
    --margin-primary: 248px;
}


.border-solid{
    border-style: solid;
}

.t-rotate-270{
    transform: rotate(270deg);
}
.t-rotate-180{
    transform: rotate(180deg);
}
.t-rotate-90{
    transform: rotate(90deg);
}
.h-max-0{
    max-height: 0px !important;
}

.text-border-primary{
    color: var(--MyAccent)!important;
}
.text-border-secondary {
    color: var(--MyAccent-Tame) !important;
}


.contact-submit-button-hover:hover{
    background-color: var(--MyAccent)!important;
    color: black !important;
}

.clearValueOnLoad{
}
.t-center-v-hover-120 {
    transform: translateY(-50%);
}
.t-center-v-hover-120:hover{
    transform: translateY(-50%) scale(120%);

}

.target-border-primary:focus-visible{
    outline: none;
    border-color: var(--MyAccent)!important;
}
.target-border-primary:target{
    outline:none;
}
.target-border-primary:focus {
    outline: none;
    box-shadow: none;
}

.center-visually-v {
    transform: translate(0, -50%);
}

.text-bg-primary{
    color: var(--primary-background)!important;
}
.text-bg-secondary {
    color: var(--secondary-background) !important;
}

.border-bg-primary{
    border-color: var(--primary-background)!important;
}
.border-bg-secondary{
    border-color: var(--secondary-background)!important;
}

/* Customize the label (the container) */
.test_containter {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.test_containter input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    z-index: 10;
}


/* Create a custom checkbox */
.test_checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: none;
    z-index: -1;
}

/* On mouse-over, add a grey background color */
.test_containter:hover input ~ .test_checkmark {
}

/* When the checkbox is checked, add a blue background */
.test_containter input:checked ~ .test_checkmark {
    background-color: var(--secondary-background);
}
/* When the chexkbox is checked and its hovered */
.test_containter input:checked:hover ~ .test_checkmark {
}

.tags-form-portfolio{
    transition: transform 0.2s;
}

.test_containter:hover {
    animation: JumpAnimation 0.4s;
}

.hover-jump-animation:hover {
    animation: JumpAnimation 0.4s;
}
@keyframes JumpAnimation{
    0%{ 
        transform: translate(0,0)

    }
    50% {
        transform: translate(0,-5px)
    }
    100% {
        transform: translate(0,0)
    }
}


.inputs-darker input, .inputs-darker textarea{
    background-color: #ccc;
}


.hover-scale-110:hover {
    transform: scale(1.1,1.1);
}
.hover-scale-120:hover {
    transform: scale(1.2,1.2);
}
.hover-scale-130:hover {
    transform: scale(1.3,1.3);
}
.hover-scale-90:hover {
    transform: scale(0.9,0.9);
}

.hover-pos-right:hover {
    transform: translateX(10px) scale(1.1);
}


.h-0{
    height: 0px;
}
.w-fit-content{
    width: fit-content;
}


.faq-question p{
    transition: transform 0.4s;
}
.faq-question:hover p{
    transform: translateX(1rem);
}

.question-toggled{
    background-color: white;
}


.bg-border-primary {
    background-color: var(--MyAccent) !important;
}
.bg-border-secondary {
    background-color: var(--MyAccent-Tame) !important;
}
.border-secondary{
    border-color: var(--MyAccent-Tame) !important;
}
.border-radius-primary-bottom {
    border-radius: 0 0 var(--globalRadius) var(--globalRadius);

}
.border-radius-primary-question {
    border-radius: var(--globalRadius) var(--globalRadius) 0 var(--globalRadius);
}


.border-radius-primary-half{
    border-radius: calc(var(--globalRadius)/2);
}

.border-radius-100{
    border-radius: 100px;
}
.border-radius-50 {
    border-radius: 50px;
}
.border-radius-25 {
    border-radius: 25px;
}
.border-radius-10 {
    border-radius: 10px;
}
.w-min-content{
    width:min-content;
}
.h-min-content{
    height:min-content;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.mt-primary {
    margin-top: var(--margin-primary);
}
.mb-primary {
    margin-bottom: var(--margin-primary);
}
.ms-primary {
    margin-left: var(--margin-primary);
}
.me-primary {
    margin-right: var(--margin-primary);
}

.start-33{
    left: 33%;
}
.start-66{
    left: 66%;
}
.center-visually{
    transform: translate(-50%, 0);
}

@media (max-width: 992px){
    .start-33 {
        left: 0;
    }

    .start-66 {
        left: 0;
    }

    .center-visually {
        transform: translate(0, 0);
    }
    .start-50{
        left:0 !important;
    }
}
.start-50 {
    left: 50%;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 128px;
}
.border-primary {
    border-color: var(--MyAccent) !important;
}
.btn-primary{
    border-color: var(--MyAccent) !important;
    background-color: var(--MyAccent) !important;
}
.navbar-toggler {
    color: blue;

}
.navbar-brand img {
    height: 8vh;
    min-height: 80px;
}
.navbar-brand {
    margin: -20px 0;
}
.navbar-toggler {
    height: 4vh;
    min-height: 40px;
    border-radius: var(--globalRadius);
    padding: 4px 7px;
}

.nav-item{
}

.navbar-toggler-img{
    height: 100%;
    width: auto;
}
.labels-light label {
    color: white;
}
.footer-nav-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.footer-nav-link{
    color: gray;
    text-decoration: none;
}
.text-gray{
    color: gray;
}

.hover-link{
    transition: color 0.2s;
}
.hover-link:hover {
    color: #0a58ca;
}

.footer-nav-link {
    transition: color 0.2s;
}

.footer-nav-link:hover {
    color: var(--MyAccent);
}

.footer-nav{
    line-height: 32px;
    list-style: none;
    padding: 0px 32px;
    margin-top: 16px;
    min-width: 212px;
}
.footer-copyright{
    line-height: 20px;
    margin-bottom: 10px;
}
.border-radius-primary{
    border-radius: var(--globalRadius) !important;
}

.text-color-heading{
    color: var(--headingColor) !important;
}
.text-color-info{
    color: var(--textColor) !important;
}

.border-splitter{
    border-color: gray !important;
}
.border-secondary-darker {
    border-color: var(--secondary-border-darker) !important;
}
.line-height-heading{
    line-height: 48px;
    margin-bottom: 16px;
}


.line-height-info {
    line-height: 32px;
}
.line-height-info-small{
    line-height: 32px;

}
.line-height-info-large {

}


@media (max-width: 576px) {
    .nav-item{
        transition: background-color 0.2s;
        padding-left: 20px;
    }
    .nav-item:hover{
        background-color: var(--secondary-background);
        transition: background-color 0.07s;
    }

}
@media (min-width: 576px) {
    .nav-item {
        transition: transform 0.3s;
    }

    .nav-item:hover {
        transform: scale(1.2);
        transition: transform 0.1s;
    }
}
.bg-primary {
    background-color: var(--primary-background) !important;
}
.bg-secondary {
    background-color: var(--secondary-background) !important;
}