html {
  font-size: 14px;
}
:root {
    --MyAccent: #00adb5;
    --MyAccent-Tame: #3798A3;
    --primary-background: #1A1A1B;
    --secondary-background: #333F44;
    --secondary-border-darker: #404040;
    --globalRadius: 10px;
    --textColor: rgb(137, 156, 168);
    --headingColor: rgb(187, 206, 218);
    --margin-primary: 124px;
    --margin-secondary: calc(var(--margin-primary) / 2);
}

.bg-border-primary{
    background-color: var(--MyAccent) !important;
}
.bg-border-secondary {
    background-color: var(--MyAccent-Tame) !important;
}
.border-secondary{
    border-color: var(--MyAccent-Tame) !important;
}

.border-radius-primary-half{
    border-radius: calc(var(--globalRadius)/2);
}
.hover-invert:hover{
    filter: invert(100%);
}
.hover-transform-scale-120:hover{
    transform:scale(120%);
}
.hover-bg-secondary:hover{
    background-color: var(--secondary-background) !important;

}
.hover-bg-primary:hover {
    background-color: var(--primary-background) !important;
}
.hover-bg-border-primary:hover {
    background-color: var(--MyAccent);
}
.tr-bg-1{
    transition: background-color 0.1s;
}
.tr-tr-1{
    transition: transform 0.1s;
}




.border-radius-100{
    border-radius: 100px;
}
.border-radius-50 {
    border-radius: 50px;
}
.border-radius-25 {
    border-radius: 25px;
}
.border-radius-10 {
    border-radius: 10px;
}
.w-min-content{
    width:min-content;
}
.h-min-content{
    height:min-content;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.mt-secondary{
    margin-top: var(--margin-secondary);
}
.mb-secondary {
    margin-bottom: var(--margin-secondary);
}

.ms-secondary {
    margin-left: var(--margin-secondary);
}

.me-secondary {
    margin-right: var(--margin-secondary);
}

.mt-primary {
    margin-top: var(--margin-primary);
}
.mb-primary {
    margin-bottom: var(--margin-primary);
}
.ms-primary {
    margin-left: var(--margin-primary);
}
.me-primary {
    margin-right: var(--margin-primary);
}

.start-33{
    left: 33%;
}
.start-66{
    left: 66%;
}
.center-visually{
    transform: translate(-50%, 0);
}

@media (max-width: 992px){
    .start-33 {
        left: 0;
    }

    .start-66 {
        left: 0;
    }

    .center-visually {
        transform: translate(0, 0);
    }
    .start-50{
        left:0 !important;
    }
}
.start-50 {
    left: 50%;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 128px;
}
.border-primary {
    border-color: var(--MyAccent) !important;
}
.btn-primary{
    border-color: var(--MyAccent) !important;
    background-color: var(--MyAccent) !important;
}
.navbar-toggler {
    color: blue;

}
.navbar-brand img {
    height: 8vh;
    min-height: 80px;
}
.navbar-brand {
    margin: -20px 0;
}
.navbar-toggler {
    height: 4vh;
    min-height: 40px;
    border-radius: var(--globalRadius);
    padding: 4px 7px;
}
.navbar-toggler-img{
    height: 100%;
    width: auto;
}
.labels-light label {
    color: white;
}
.footer-nav-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.footer-nav-link{
    color: gray;
    text-decoration: none;
}
.footer-nav{
    line-height: 32px;
    list-style: none;
    padding: 0px 32px;
    margin-top: 16px;
    min-width: 212px;
}
.footer-copyright{
    line-height: 20px;
    margin-bottom: 10px;
}
.border-radius-primary{
    border-radius: var(--globalRadius) !important;
}

.text-color-heading{
    color: var(--headingColor) !important;
}
.text-color-info{
    color: var(--textColor) !important;
}

.border-splitter{
    border-color: gray !important;
}
.border-secondary-darker {
    border-color: var(--secondary-border-darker) !important;
}
.line-height-heading{
    line-height: 48px;
    margin-bottom: 16px;
}


.line-height-info {
    line-height: 32px;
}
.line-height-info-small{
    line-height: 32px;

}
.line-height-info-large {

}


@media (max-width: 576px) {
    .nav-item{
        transition: background-color 0.2s;
        padding-left: 20px;
    }
    .nav-item:hover{
        background-color: var(--secondary-background);
        transition: background-color 0.07s;
    }

}
@media (min-width: 576px) {
    .nav-item {
        transition: transform 0.3s;
    }

    .nav-item:hover {
        transform: scale(1.2);
        transition: transform 0.1s;
    }
}


.bg-primary {
    background-color: var(--primary-background) !important;
}
.bg-secondary {
    background-color: var(--secondary-background) !important;
}