html {
  font-size: 14px;
}
:root {
    --MyAccent: #00adb5;
    --primary-background: #1A1A1B;
    --secondary-background: #333F44;
    --secondary-border-darker: #404040;
    --globalRadius: 10px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 128px;
}
.border-primary {
    border-color: var(--MyAccent) !important;
}
.btn-primary{
    border-color: var(--MyAccent) !important;
    background-color: var(--MyAccent) !important;
}
.navbar-toggler {
    color: blue;

}
.navbar-brand img {
    height: 8vh;
    min-height: 80px;
}
.navbar-brand {
    margin: -20px 0;
}
.navbar-toggler {
    height: 4vh;
    min-height: 40px;
    border-radius: var(--globalRadius);
    padding: 4px 7px;
}
.navbar-toggler-img{
    height: 100%;
    width: auto;
}
.labels-light label {
    color: white;
}
.footer-nav-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.footer-nav-link{
    color: gray;
    text-decoration: none;
}
.footer-nav{
    line-height: 32px;
    list-style: none;
    padding: 0px 32px;
    margin-top: 16px;
    min-width: 212px;
}
.footer-copyright{
    line-height: 20px;
    margin-bottom: 10px;
}
.border-splitter{
    border-color: gray !important;
}
.border-secondary-darker {
    border-color: var(--secondary-border-darker) !important;
}


@media (max-width: 576px) {
    .nav-item{
        transition: background-color 0.2s;
        padding-left: 20px;
    }
    .nav-item:hover{
        background-color: var(--secondary-background);
        transition: background-color 0.07s;
    }

}
@media (min-width: 576px) {
    .nav-item {
        transition: transform 0.3s;
    }

    .nav-item:hover {
        transform: scale(1.2);
        transition: transform 0.1s;
    }
}
.bg-primary {
    background-color: var(--primary-background) !important;
}
.bg-secondary {
    background-color: var(--secondary-background) !important;
}