@model List<MyActualWebsite.Models.FAQ>

<h1 class="text-center text-color-heading" style="margin: 64px auto 164px auto ">About Me</h1>

<div class="d-flex flex-column mx-auto col-lg-10" style="gap: 124px; max-width:850px">

    <div class=" w-100 bg-secondary border-radius-primary p-3 mx-auto">
        <h3 class="text-color-heading">About Me</h3>
        <div class="w-100 bg-primary border-radius-primary p-2 overflow-auto">

            <img src="~/Content//Images/me.jpeg" class="col-4 text-wrap float-end border-radius-primary m-sm-2" style="max-width: 240px; min-width: 150px" alt="Image of me">
            <p class="text-color-info">

                Hello, I'm Jonathan. I'm on the path to becoming a programmer in the exciting world of IT. I have a strong interest in Backend development, where I love to create through coding. My big dream is to expand my skills and take on all sorts of challenges, crafting applications and programs that are only limited by what I know and can imagine.
            </p>
            <p class="text-color-info">
                Beyond the tech stuff, I find joy in various hobbies like mountain biking, gardening, gaming, cooking, and playing the Bass guitar. Each of these activities adds something special to my personal growth. They help me think critically, stay active, connect with others, and unwind, ensuring I'm mentally and physically well.
            </p>
            <p class="text-color-info">
                My family is really close-knit, and we support each other in everything. This supportive environment has taught me how to work well with others and communicate effectively, skills that come in handy when I'm diving into programming projects.
            </p>
        </div>
    </div>


    <div class="mx-auto w-100 bg-secondary border-radius-primary p-3">
        <h3 class="text-color-heading">Frequently Asked Questions</h3>
        @await Html.PartialAsync("_FAQPartials/_FAQPartial", Model)
    </div>

    <div class=" w-100 bg-secondary border-radius-primary p-3 mx-auto">
        <h3 class="text-color-heading">Education</h3>

        <div class="w-100 bg-primary border-radius-primary p-2">
            <p class="text-color-info">
                I recently earned a Certificate in Information Technology from the Southern Institute of Technology Tepukenga. Although I initially started a Bachelor in Information Technology, I chose a different path during the second year. I decided to leave the bachelor program and pursue learning on my own terms. This approach involved pushing myself to learn beyond the standard curriculum. I faced challenges such as not finding peers who shared my level of interest, experiencing periods of boredom, and not needing as much assistance from tutors because I was often self-reliant. I excelled in subjects like Advanced Programming, Networking, and Web Development before leaving the Bachelor program. These subjects helped me build a strong foundation in skills like Object Oriented Programming, working with APIs, setting up networks, maintaining databases, and creating websites.
            </p>
            <p class="text-color-info">
                Despite navigating a brief period of depression that prompted a temporary break, my determination to succeed never wavered.
                This change in direction ultimately led me to complete NCEA level 5 and even earn recognition as the top student.
                My commitment to learning continues to be fueled by my own motivation and the excitement of ongoing growth.
            </p>
        </div>
    </div>
    <div class=" w-100 bg-secondary border-radius-primary p-3 mx-auto">
        <h3 class="text-color-heading">Skills and Expertise</h3>
        <div class="d-flex flex-column gap-2 text-color-info bg-primary border-radius-primary p-2 m-auto">
            <p>
                <strong>
                    Programming Languages
                </strong>
                <br/>
                Proficient in C#, JavaScript, Java, and SQL.
            </p>
            <p>
                <strong>
                    Web Development
                </strong>
                <br />
                Skilled in HTML5, CSS3, and responsive design principles.
            </p>
            <p>
                <strong>
                    Backend Development
                </strong>
                <br />
                Confident in building APIs, server-side logic, client handling, and multi-threading.
            </p>
            <p>
                <strong>
                    Database Management
                </strong>
                <br />
                Basic understanding of MySQL with a strong grasp of data organization and retrieval.
            </p>
            <p>
                <strong>
                    Version Control
                </strong>
                <br />
                Experienced in using Git for collaborative development.
            </p>
            <p>
                <strong>
                Web Frameworks
                </strong>
                <br/>
                Solid understanding of ASP.NET Core and Model-View-Controller (MVC) principles.
            </p>
            <p>
                <strong>
                Application Frameworks
                </strong>
                <br />
                Proficient in the .NET Framework, including Windows Forms.
            </p>
            <p>
                <strong>
                API Integration
                </strong>
                <br />
                Able to interact with external APIs to enhance application functionality.
            </p>
            <p>
                <strong>
                Object-Oriented Programming (OOP)
                </strong>
                <br/>
                In-depth understanding of OOP principles and design patterns.
            </p>
            <p>
                <strong>
                Agile Methodology
                </strong>
                <br/>
                Good comprehension of Agile development environments, though no direct experience with team projects in this setup.
            </p>
            <p>
                <strong>
                Networking
                </strong>
                <br/>
                Confident in setting up and maintaining networks.
            </p>
            <p>
                <strong>
                Development Environments
                </strong>
                <br />
                Familiarity with Visual Studio Code, Visual Studio 2022, Unity, and previous experience with Atom.
            </p>
        </div>
        
    </div>



    <div class=" w-100 bg-secondary border-radius-primary p-3 mx-auto">
        <h3 class="text-color-heading">Conclusion</h3>

        <div class="w-100 bg-primary border-radius-primary p-2">
            <p class="text-color-info">
                My journey reflects my passion for programming and determination to succeed. As I push boundaries and embrace the evolving IT landscape, I look ahead with excitement. For any unanswered questions, feel free to reach out.
            </p>
        </div>
    </div>

    
    <div class="mx-auto w-100">
    <h2 class="text-color-heading">Contact Me</h2>
    @await Html.PartialAsync("_ContactsPartial/_ContactBoxPartial", new MyActualWebsite.Models.Mail())
    </div>
</div>