@model MyActualWebsite.Models.HomeIndexTransferModel
@{
    ViewData["Title"] = "Home Page";
}
@{
    <div class="position-absolute w-100 start-0" style="top:80px; height: calc(100vh - 80px)">
        <div class="position-relative w-100 d-flex align-items-center justify-items-center h-100">
            <canvas id="LandingPageCanvas" class="position-absolute w-100 start-0 h-100" style="z-index: -1" >
            </canvas>
            @section Scripts
            {
                <script src="~/js/LandingCanvas.js"></script>
            }
            <div id="LandingPageInfoBox" class="bg-primary border-radius-primary border border-1 border-primary col-lg-6 m-auto p-3 pt-5 pb-5 text-center" >
                <h2 class="text-color-info">Welcome To My Website</h2>
                <h3 class="text-color-info">My Name Is Jonathan Steininger</h3>
            </div>
        </div>
    </div>

    <hr class=" opacity-0" style="margin-top: 95vh" />

    <div class="col-lg-6 border-radius-primary bg-secondary p-3 position-relative start-33 center-visually mt-primary">
        <h3 class="text-color-heading line-height-heading">About Me</h3>
        <img src="~/Content//Images/me.jpeg" class="col-5 text-wrap float-end border-radius-primary m-1">
        <p class="text-color-info line-height-info-small">
        </p>
    </div>
    <div class="col-lg-6 border-radius-primary bg-secondary p-3 position-relative start-66 center-visually mt-primary">
        <h3 class="text-color-heading line-height-heading">About Me</h3>
        <img src="~/Content//Images/me.jpeg" class="col-5 text-wrap float-end border-radius-primary m-1">
        <p class="text-color-info line-height-info-small">
        </p>
    </div>

    <div class="col-lg-9 statbar-box shadow-lg border-primary border border-0 start-50 center-visually position-relative px-4 pt-3 pb-1 border-radius-primary bg-secondary mt-primary">
        <h3 class="text-color-heading line-height-heading text-center">Confidence In Different Languages</h3>
        @foreach (MyActualWebsite.Models.StatBar bar in Model.StatBars)
        {
            @await Html.PartialAsync("_StatBarPartial", bar);
        }
    </div>
    if(Model.Projects.Count > 0)
    {   
        @await Html.PartialAsync("_IndexPartials/_FeaturedProjectsPartial", new object[]{ Model.Projects, "FeaturedBox"})
    }
    <div class="col-lg-8 mx-auto mb-primary">
        <h1 class="text-color-heading text-center mt-primary mb-5">Contact Me</h1>
        @await Html.PartialAsync("_ContactsPartial/_ContactBoxPartial", new MyActualWebsite.Models.Mail())
    </div>
    if(Model.Experiences.Count > 0)
    {
        <div class="col-lg-10 mx-auto mb-primary">
            <h1 class="text-color-heading text-center mt-primary mb-5">Experience</h1>
            @await Html.PartialAsync("_IndexPartials/_ExperiencesPartial", Model.Experiences)
        </div>
    }

}
