@{
    ViewData["Title"] = "Home Page";
}
@{
    <div class="justify-content-center">
        <div class="col-5 index-info-box border border-2 border-radius-primary border-primary bg-secondary p-3 m-5">
            <h3 class="text-color-heading line-height-heading">About Me</h3>
            <img src="~/Content//Images/me.jpeg" class="w-50 text-wrap float-end border-radius-primary border-2 border-primary border">
            <p class="text-color-info line-height-info-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eleifend, leo vel euismod tristique, nisi enim tincidunt ligula, at fermentum urna orci at nisi. Curabitur finibus, leo vitae pulvinar porttitor, dui lacus facilisis est, ut fringilla tortor velit sed arcu. Aliquam aliquam fringilla est quis eleifend. Duis laoreet fringilla sodales. Cras maximus tellus non tellus ultrices ornare. Quisque venenatis erat ut lorem faucibus, id gravida sapien pellentesque. Sed nec sapien non augue convallis sollicitudin. Sed at malesuada nunc. Nullam rhoncus neque nec purus fermentum, a commodo nisi placerat. Cras non mi in orci maximus mollis sit amet at purus. Quisque et tincidunt lorem, id malesuada magna.</p>
        </div>
        <div class="col-5 index-info-box border border-2 border-radius-primary border-primary bg-secondary p-3 m-xxl-5">
            <h3 class="text-color-heading line-height-heading">About Me</h3>
            <img src="~/Content//Images/me.jpeg" class="w-50 text-wrap float-end border-radius-primary border-2 border-primary border">
            <p class="text-color-info line-height-info-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eleifend, leo vel euismod tristique, nisi enim tincidunt ligula, at fermentum urna orci at nisi. Curabitur finibus, leo vitae pulvinar porttitor, dui lacus facilisis est, ut fringilla tortor velit sed arcu. Aliquam aliquam fringilla est quis eleifend. Duis laoreet fringilla sodales. Cras maximus tellus non tellus ultrices ornare. Quisque venenatis erat ut lorem faucibus, id gravida sapien pellentesque. Sed nec sapien non augue convallis sollicitudin. Sed at malesuada nunc. Nullam rhoncus neque nec purus fermentum, a commodo nisi placerat. Cras non mi in orci maximus mollis sit amet at purus. Quisque et tincidunt lorem, id malesuada magna.</p>
        </div>
    </div>
    
}
