@model MyActualWebsite.Models.HomeIndexTransferModel
@{
    ViewData["Title"] = "Home Page";
}
@{
    <div class="position-absolute w-100 start-0 top-0" style="height: 150vh">
        <div class="position-relative w-100 d-flex align-items-center justify-items-center h-100">
            <canvas id="LandingPageCanvas" class="position-absolute w-100 start-0 h-100" style="z-index: -2" >
            </canvas>
            @section Scripts
            {
                <script src="~/js/LandingCanvas.js"></script>
            }
            <div id="LandingPageInfoBox" class="bg-primary border-radius-primary border border-1 border-primary mx-auto p-3 text-center" style="max-width: 90vw; width: 700px; z-index: -1" >
                <h2 class="text-color-info" style="line-height: 64pt; letter-spacing: 2pt;">
                    Hello and Welcome!
                </h2>
                <h5 class="text-color-info col-sm-8 mx-auto" style="line-height: 32pt; letter-spacing: 1pt;">
                    I'm Jonathan, an IT enthusiast.
                    Explore my projects and experience as we dive into the world of technology.
                </h5>
            </div>
        </div>
    </div>

    <hr class=" opacity-0" style="margin-top: 95vh" />
    <div class="w-100 d-flex flex-column">
        <div class="col-lg-7 border-radius-primary bg-secondary p-3 mt-primary align-self-start ms-lg-5">
            <h3 class="text-color-heading line-height-heading">About Me</h3>
            <img src="~/Content//Images/me.jpeg" class="col-4 text-wrap float-end border-radius-primary m-sm-2" style="max-width: 240px; min-width: 150px" alt="Image of me">
            <p class="text-color-info line-height-info-small">
                Hello, I'm Jonathan, an aspiring programmer and passionate tech enthusiast.
                I have a strong affinity for creating through programming and possess skills in Web Development, Backend Development, Database Management, and Git.
                While I'm yet to venture into a professional work environment, I am confident in my ability to excel under those conditions.
            </p>
            <p class="text-color-info line-height-info-small">
                Notably, I've recently completed the very website you're exploring!
                Developed on ASP.Net Core and utilizing a MySQL database, this site reflects my dedication to hands-on learning and application.
                Feel free to navigate through my website to discover more about me and explore my projects."
            </p>
        </div>
     
        <div class="col-lg-7 border-radius-primary bg-secondary p-3 mt-primary align-self-end me-lg-5">
            <h3 class="text-color-heading line-height-heading">Education</h3>

            <p class="text-color-info line-height-info-small">
                I currently hold a certificate in Information Technology from the Southern Institute of Technology Tepukenga. Originally going for a diploma in Information Technology, I dropped out midway through year 2 after accepting that the course is too slow for me. Now I am learning on my own through online courses and practising by myself.
            </p>
            <p class="text-color-info line-height-info-small">
                Im confident in my ability to apply my skills in the IT field. During high school at Southland Boy's High School in Invercargill, I refined my skills in algebra and mathematics through calculus and physics, allowing me to confidently use these principles in my programs.
            </p>
        </div>
    </div>
    
    if(Model.Projects.Count > 0)
    {   
        @await Html.PartialAsync("_IndexPartials/_FeaturedProjectsPartial", new object[]{ Model.Projects, "FeaturedBox"})
    }

    @if (Model.BarSetsContainsKey("Program"))
    {
        <div class="col-lg-9 statbar-box shadow-lg border-primary border border-0 start-50 center-visually position-relative px-4 pt-3 pb-1 border-radius-primary bg-secondary mt-primary">
            <h3 class="text-color-heading line-height-heading text-center">Confidence in Programming Tools</h3>
            @foreach (MyActualWebsite.Models.StatBar bar in Model.GetBarSet("Program"))
            {
                @await Html.PartialAsync("_StatBarPartial", bar)
            }
        </div>
    }

    @if (Model.BarSetsContainsKey("Language"))
    {
        <div class="col-lg-9 statbar-box shadow-lg border-primary border border-0 start-50 center-visually position-relative px-4 pt-3 pb-1 border-radius-primary bg-secondary mt-primary">
            <h3 class="text-color-heading line-height-heading text-center">Confidence In Programing Languages</h3>
            @foreach (MyActualWebsite.Models.StatBar bar in Model.GetBarSet("Language"))
            {
                @await Html.PartialAsync("_StatBarPartial", bar)
            }
        </div>
    }

    <div class="col-lg-8 mx-auto mb-primary">
        <h1 class="text-color-heading text-center mt-primary mb-5">Contact Me</h1>
        @await Html.PartialAsync("_ContactsPartial/_ContactBoxPartial", new MyActualWebsite.Models.Mail())
    </div>
    if(Model.Experiences.Count > 0)
    {
        <div class="col-lg-10 mx-auto mb-primary">
            <h1 class="text-color-heading text-center mt-primary mb-5">Experience</h1>
            @await Html.PartialAsync("_IndexPartials/_ExperiencesPartial", Model.Experiences)
        </div>
    }

}
