
<h1 class="text-center text-color-heading my-5">Mail Sent!</h1>
<button class="d-block border-0 bg-secondary p-3 border-radius-primary text-light text-center mx-auto hover-link hover-jump-animation" style="max-width: 600px; width: 85%;" onclick="history.go(-1)">Return</button>