@model MyActualWebsite.Models.HomePortfolioTransferModel
@{
    ViewData["Title"] = "Portfolio";
}

<h1 class="text-color-heading text-center my-5">PortFolio</h1>

<div class="FiltersContainer col-lg-12 mx-auto">
    <button onclick="ToggleClass('tags-form-portfolio','h-0'); ToggleClass('filter-arrow', 't-rotate-90');" class="position-relative me-2 mb-2 p-2 px-4 bg-secondary border-0 border-primary border-radius-primary text-light hover-scale-110" style="min-width: 150px;">
        <div class="float-end" style=" height:15px">
            <img src="~/Content/Images/down-arrow.svg" class="h-100 filter-arrow t-rotate-270" style="filter: invert(100%) sepia(18%) saturate(502%) hue-rotate(176deg) brightness(100%) contrast(96%);">
        </div>
        Filters
    </button>
    <input form="tagsForm" type="submit" value="Save Filters" class="me-2 mb-2 p-2 px-4 bg-secondary border-0 border-primary border-radius-primary text-light hover-scale-110" style="min-width: 150px;" />
    <a asp-area="" asp-controller="Home" asp-action="Portfolio" class="text-decoration-none text-light me-2 mb-2 p-2 px-4 bg-secondary  border-0 border-primary border-radius-primary hover-scale-110 w-fit-content d-inline-block text-center" style="min-width: 150px;">Clear Filters</a>

    <form asp-action="Portfolio" method="get" id="tagsForm" class="text-light tags-form-portfolio overflow-hidden h-0">
        @if (Model.ContainsLanguageTags)
        {
            ViewData["FilterSectionTitle"] = "Languages";
            @await Html.PartialAsync("_PortfolioFilterSection", Model.LanguageTags)
        }
        @if (Model.ContainsPlatformTags)
        {
            ViewData["FilterSectionTitle"] = "Platforms";
            @await Html.PartialAsync("_PortfolioFilterSection", Model.PlatformTags)
        }
        @if (Model.ContainsFrameWorkTags)
        {
            ViewData["FilterSectionTitle"] = "Frameworks";
            @await Html.PartialAsync("_PortfolioFilterSection", Model.FrameworkTags)
        }
        @if (Model.ContainsOtherTags)
        {
            ViewData["FilterSectionTitle"] = "Other";
            @await Html.PartialAsync("_PortfolioFilterSection", Model.OtherTags)
        }
        <hr/>
        <input type="submit" value="Save Filters" class="me-2 mb-5 mt-3 p-2 px-4 bg-secondary border-0 border-solid border-primary border-radius-primary text-light hover-pos-right" style="min-width: 160px;" />
    </form>

</div>
<div class="col-lg-12 d-flex flex-wrap gap-4 align-items-stretch" >

    @foreach (MyActualWebsite.Models.Project project in Model.Projects)
    {
        <div style="flex-basis:330px;" class="flex-grow-1">
            @await Html.PartialAsync("_projectPartials/_ProjectPartialSummary", project)
        </div>
    }
</div>