@model MyActualWebsite.Models.Project
@{
    List<MyActualWebsite.Models.Tag> Languages = Model.Tags.FindAll(item => item.TagCatagory.CatagoryName.ToUpper().Contains("LANGUAGE"));
    List<MyActualWebsite.Models.Tag> Platforms = Model.Tags.FindAll(item => item.TagCatagory.CatagoryName.ToUpper().Contains("PLATFORM"));
    List<MyActualWebsite.Models.Tag> FrameWorks = Model.Tags.FindAll(item => item.TagCatagory.CatagoryName.ToUpper().Contains("FRAMEWORK"));
    List<MyActualWebsite.Models.Tag> Other = Model.Tags.FindAll(item => item.TagCatagory.CatagoryName.ToUpper().Contains("OTHER"));
}
<h1 class="line-height-heading text-color-heading text-center mb-5 mt-3">@Model.Title</h1>
<button onclick="history.back()" class="border-0 border-radius-primary p-2 hover-jump-animation bg-secondary text-light mb-2" style="min-width:180px;">Return</button>
<div class="bg-secondary p-3 mb-5 border-radius-primary">
    <video src="~/Content/Videos/Projects/@Model.VideoFilePath" controls muted width="100%" class="border-radius-primary">
    </video>
</div>
<div class="bg-secondary p-3 mb-5 border-radius-primary" style="overflow:auto">
    <div style="overflow:auto" class=" bg-primary border-radius-primary position-relative">

        @{
            string[] paragraphs = Model.Body.Split("\n").Where(s => s.Length > 5).ToArray();

            if (paragraphs.Length >= 3)
            {
                for (int i = 0; i < paragraphs.Length; i++)
                {
                    if (i == 1)
                    {
                        <div class="bg-primary mt-1 border-radius-primary overflow-hidden mx-3 mt-3 mb-3 col-lg-7 float-end">
                            <img src="~/Content/Images/Projects/@Model.ImageFileName" width="100%" height="auto" class="d-block" />
                        </div>

                    }
                    <p class="text-color-info p-2 my-1" style="flex-basis: 30%; min-width: 200px;">
                        @paragraphs[i]
                    </p>
                }
            }
            else
            {
                <div class="bg-primary mt-1 border-radius-primary overflow-hidden mx-3 mt-3 mb-3 col-lg-7 float-end">
                    <img src="~/Content/Images/Projects/@Model.ImageFileName" width="100%" height="auto" class="d-block" />
                </div>
                <p class="text-color-info p-2 my-1" style="flex-basis: 30%; min-width: 200px;">
                    @await Html.PartialAsync("_textWithBreaks", Model.Body)
                </p>
            }
        }
    </div>
</div>
<div class="bg-secondary p-2 border-radius-primary">

    <h5 class="text-color-heading p-2">Tags</h5>
    <div class="d-flex flex-wrap w-100" style="flex-basis: 30%; min-width: 200px;">
        @{
            ViewData["ListName"] = "Languages";
        }
        @await Html.PartialAsync("_ProjectPartials/_TagListPartial", Languages)
        @{
            ViewData["ListName"] = "Platforms";
        }
        @await Html.PartialAsync("_ProjectPartials/_TagListPartial", Platforms)
        @{
            ViewData["ListName"] = "FrameWorks";
        }
        @await Html.PartialAsync("_ProjectPartials/_TagListPartial", FrameWorks)
        @{
            ViewData["ListName"] = "Other Tags";
        }
        @await Html.PartialAsync("_ProjectPartials/_TagListPartial", Other)
    </div>
</div>


