@model MyActualWebsite.Models.Project
@{
    List<MyActualWebsite.Models.Tag> Languages = Model.Tags.FindAll(item => item.TagCatagory.CatagoryName.ToUpper().Contains("LANGUAGE"));
    List<MyActualWebsite.Models.Tag> Platforms = Model.Tags.FindAll(item => item.TagCatagory.CatagoryName.ToUpper().Contains("PLATFORM"));
    List<MyActualWebsite.Models.Tag> FrameWorks = Model.Tags.FindAll(item => item.TagCatagory.CatagoryName.ToUpper().Contains("FRAMEWORK"));
}

<div class="bg-secondary border-radius-primary p-4 h-100 d-grid" style=" grid-template-rows: min-content min-content auto min-content;">
    <h2 class="line-height-heading text-color-heading text-center">@Model.Title</h2>
    
    <div class="d-flex gap-2 flex-wrap align-items-stretch mb-2">
        <div class=" bg-primary mt-1 border-radius-primary flex-grow-1 overflow-hidden" style="flex-basis: 700px;">
            <img src="~/Content/Images/Projects/@Model.ImageFileName" width="100%" height="auto" class="d-block"/>
        </div>
        <div class="d-flex flex-column w-100 flex-grow-1 position-relative" style="flex-basis: 30%; min-width: 200px;">
            @{
                ViewData["ListName"] = "Languages";
            }
            @await Html.PartialAsync("_TagListPartial", Languages)
            @{
                ViewData["ListName"] = "Platforms";
            }
            @await Html.PartialAsync("_TagListPartial", Platforms)
            @{
                ViewData["ListName"] = "FrameWorks";
            }
            @await Html.PartialAsync("_TagListPartial", FrameWorks)
        </div>
    </div>
    
    <p class="text-color-info bg-primary border-radius-primary p-2 my-1">
        @await Html.PartialAsync("_TextWithBreaks", Model.Summary)
    </p>
    <div class="position-relative h-100 w-100 mx-auto" style="min-height: 100px; max-width: 700px;" >
        <a href="Project/@{<text>@Model.ProjectKey</text>}" class="position-absolute bottom-0 py-3 bg-primary border-radius-primary text-decoration-none text-light text-center hover-jump-animation w-100">View More</a>
    </div>

</div>
