@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<footer class="border-top border-primary border-2 footer text-muted bg-primary position-absolute bottom-0 w-100" style="white-space: nowrap;}">

    <div class="d-flex flex-wrap text-center mx-auto my-5 px-2  w-100 justify-content-center align-items-center" style="max-width: 600px; line-height: 20px; gap: 0.8rem 2rem;">
        <a class="footer-nav-link" style=" min-width: fit-content" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        <a class="footer-nav-link" style=" min-width: fit-content" asp-area="" asp-controller="Home" asp-action="AboutMe">About Me</a>
        <a class="footer-nav-link" style=" min-width: fit-content" asp-area="" asp-controller="Home" asp-action="Portfolio">Portfolio</a>
        <a class="footer-nav-link" style=" min-width: fit-content" asp-area="" asp-controller="Home" asp-action="Contacts">Contacts</a>
        @if (SignInManager.IsSignedIn(User))
        {
            <a class="footer-nav-link" style=" min-width: fit-content" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Account</a>
            <form class="form-inline " style=" min-width: fit-content" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button  type="submit" class="footer-nav-link btn btn-link d-inline p-0 border-0">Logout</button>
            </form>
        }
        else
        {
            <a class="footer-nav-link " style="min-width: fit-content" asp-area="Identity" asp-page="/Account/Login">Login</a>
        }
        @await Html.PartialAsync("_FooterPartials/_AdminFooterPartial")
    </div>

    <div class="container footer-copyright text-center text-gray">
        Jonathan Steininger &copy; 2023 - Jonathan-Steininger
    </div>
</footer>